.home_Component{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #dedfe0;

    .main_home3{
        img{
            width: 200px;
        }
    }

    padding-top: 5rem;
    .main_home1{
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 40px;
        p{
            color: #89c343;
            font-weight: bold;
        }
    }
    .main_home2{
        width: 100%;
        font-size: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        table{
            padding: 100px;
            overflow: scroll;
            width: 70rem;
            height: auto;
            background-color: #ffffff;
            th{
                padding: 20px 50px;
                border: 1px solid rgb(214, 214, 214);
                text-align: center;
            }
            td{
                padding: 20px 50px;
                cursor: pointer;
                border: 1px solid rgb(214, 214, 214);
                text-align: center;
                span{
                    padding: 0 10px;
                    cursor: pointer;
                }
            }
        }
    }
}