.LogOutBtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 70%;
    button{
        padding: 10px 20px;
        border: none;
        background-color: #89c343;
        color: white;
        font-size: 20px;
    }
}